<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="{{ category }}">
                {{ message }}
                <button type="button" class="close" onclick="msg()">&times;</button>
            </div>
            {% endfor %}
        {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>